{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h2>Modification du mot de passe</h2>
  <div class="col-3">&nbsp;</div>
<div class="col-lg-6">
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-danger">Modifier</button>
  {{ form_end(form) }}
</div>
</div>

{% endblock %}