{% extends 'base.html.twig' %}

{% block title %}Modification du profil utilisateur{% endblock %}

{% block body %}
  <div class="container">
<h2>Modification de profil</h2>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
  {{ form_end(form) }}
  </div>

{% endblock %}