{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <div class="container">

    <div class="jumbotron jumbo">
      <h1 class="text-dark">Bienvenue sur <strong>WikiCook</strong></h1>
      <p class="lead">Partagez vos recettes préférées et trouvez de nouvelles idées</p>
      <hr class="my-4">
      <p>Ceci est un projet bac à sable, il sera amené à évoluer dans le temps avec l'implémentation de nouvelles
        fonctionnalités comme</p>
      <ul>
        <li>la recherche par mots clés</li>
        <li>la recherche par type de plat et/ou par ingrédients</li>
        <li>l'upload direct d'image</li>
        <li>l'importation de la liste d'ingrédients par mail</li>
        <li>et bien d'autres choses encore...</li>
      </ul>
      <p class="lead">
        <a class="btn btn-outline-dark btn-lg align-items-center" href="{{ path('recette_index') }}" role="button">Voir les recettes</a>
      </p>
    </div>
    <div class="bg-light  p-2">
      <h1 class="text-center text-dark m-md-3">Les dernières recettes ajoutées</h1>
      <div class="row m-lg-auto">
        {% for data in recettes %}
            {% include 'partiels/_card.html.twig' with {'recette': data.recette} %}
        {% endfor %}
      </div>
    </div>
  </div>


{% endblock %}
