{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">

        <div class="jumbotron mt-4 jumbo">
            <h1 class="display-3">Bienvenue sur WikiCook</h1>
            <p class="lead">Partagez vos recettes préférées et trouvez de nouvelles idées</p>
            <hr class="my-4">
            <p>Ceci est un projet bac à sable, il sera amené à évoluer dans le temps avec l'implémentation de nouvelles fonctionnalités...</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{path('recette_index')}}" role="button">Voir les recettes</a>
            </p>
        </div>

        <h2 class="text-center">Nos Meilleures recettes</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="card-header text-center">

                </div>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>

    </div>
{% endblock %}
