{% extends 'base.html.twig' %}

{% block title %}Edition d'une Recette{% endblock %}
{% form_theme form 'partiels/_collection.html.twig' %}
{% block body %}
    <div class="container bg-light p-lg-4">
    <h1>{{ recette.title }} (mode édition)</h1>


    {{ include('recette/_form.html.twig', {'button_label': 'Enregistrer'}) }}


    </div>


{% endblock %}
{% block javascripts %}

{% endblock %}
