{% extends 'base.html.twig' %}

{% block title %}New Recette{% endblock %}
{% form_theme form 'partiels/_collection.html.twig'%}
{% block body %}
    <div class="container">
        <div class="bg-light p-3 m-4">
    <h1>Nouvelle recette</h1>

    {{ include('recette/_form.html.twig') }}

    <a href="{{ path('recette_index') }}">Retour à la liste</a>
    </div>
    </div>
{% endblock %}
{% block javascripts %}


{% endblock %}