body {
    background-image: url("../Images/red_berry_border.jpg");
    background-repeat: no-repeat;
    background-size: auto;

}

.avatar{

}

.infos {
    color: darkred;
}
.jumbo{
    opacity: 0.8;
}
.bginfos{
    background-color: darksalmon;
    align-items: self-end;
}