body {
    background-image: url("../Images/red_berry_border.jpg");
    background-repeat: no-repeat;
    background-size: auto;

}

.avatar{

}

.infos {
    color: darkred;
}

.bginfos{
    background-color: darkgoldenrod;
    align-items: self-end;
}