body {
    background-image: url("../Images/superalimentos.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    margin-top: 8rem;
}
.login{
margin-top: 15%;
}

.jumbo{
    margin-top: 10%;
    opacity: 0.8;
}

.lead{

    display: block;

    margin : auto;
}
.imgLittle{
    max-width: 72px;
}
.fa-star{
    color: goldenrod;
}


.infos {
    color: darkred;
}
.container{
    opacity: 0.95;
}

.bginfos{
    background-color: darksalmon;
    align-items: self-end;
}

.avatarMini{
    max-width: 28px;
}

.avatar{
    max-width: 100px;
}