body {
    background-image: url("../Images/superalimentos.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    margin-top: 8rem;
}
.login{
margin-top: 15%;
}

.jumbo{
    margin-top: 10%;
    opacity: 0.8;
}

.lead{

    display: block;

    margin : auto;
}
.imgLittle{
    max-width: 72px;
}
.fa-star{
    color: goldenrod;
}



.infos {
    color: darkred;
}
.container{
    opacity: 0.95;
}
.bginfos{
    background-color: darksalmon;
    align-items: self-end;
}
.icon{
    max-width: 17px;
}
.avatarMini{
    max-width: 28px;
}

.avatar{
    max-width: 100px;
}

.cardHeader{
    color: #772953;

}
/* BOUTON RETOUR EN HAUT DE PAGE */
a#cRetour{
    border-radius:3px;
    padding:10px;
    font-size:0.9em;
    text-align:center;
    color:#fff;
    background: crimson;
    position:fixed;
    right:5%;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}

a#cRetour:hover{
    background:rgba(0, 0, 0, 1);
    transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
    bottom:-35px;
    opacity:0;
    transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
    bottom:20px;
    opacity:1;
}

/* RECHERCHE AVANCEE */

.grid {
    display: grid;
    grid-template-columns: repeat(4);
    grid-gap: 20px;
}

.filter {

    display: block;
    position: sticky;
    top: 15%;
}

