body {
    background-image: url("../Images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.avatar{

}

.infos {
    color: darkred;
}
.jumbo{
    opacity: 0.8;
}
.bginfos{
    background-color: darksalmon;
    align-items: self-end;
}

.avatarMini{
    max-width: 28px;
}