{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}


<div class="container d-flex justify-content-center ">
    <h1 class="mt-5">Recherche </h1>
    <div class="bg-light col-lg-4 p-4">

    {{ form_start(form) }}
{{ form_row(form) }}
    <button type="submit" class="btn btn-success">Rechercher</button>
    {{ form_end(form) }}

</div>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}