{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello </h1>
    <form class="form-inline my-2 my-lg-0">
        <div class="search">
            <input class="form-control mr-sm-2" type="text" name="recherche" placeholder="Search" id="recherche">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </div>
        <div class="result" id="result">

        </div>

    </form>


    {% for resultat in resultats %}
    <h2>{{ resultats }}</h2>


</div>
{% endblock %}
