{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}


<div class="container">
    <h1>Hello </h1>
{{ form_start(form) }}
{{ form_row(form.recherche) }}
    <button type="submit" class="btn btn-info">
        Rechercher
    </button>
    {{ form_end(form) }}
</div>
{% endblock %}
