{% extends 'base.html.twig' %}

{% block title %}Toutes nos recettes{% endblock %}

{% block body %}
  <div class="container">
   <div class="row">
       <div class="col-md-3">

{% include 'partiels/_search.html.twig' with {form: form} only%}

       </div>
       <div class="col-md-9">
           <h3>Recherche</h3>
           <div class="grid">
               <div class="row overflow-auto">
                   {% for recette in recettes %}

                       {% include 'partiels/_card.html.twig' with {recette: recette} %}

                   {% endfor %}
               </div>


           </div>
       </div>
   </div>


  </div>
{% endblock %}
