{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}

    <h1>Categorie index</h1>
    <div class="row d-flex justify-content-center mt-5">
{% for categorie in categories %}
    <a href="{{ path('categorie_show', {'id': categorie.id}) }}" class="btn btn-success">{{ categorie.title }}</a>
    {% endfor %}
    </div>



    <a href="{{ path('categorie_new') }}">Create new</a>
{% endblock %}
