{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <div class="container bg-light p-3">
    <h1 class="text-center text-dark">{{ categorie.title }}</h1>
<div class="row">
{% for recette in recettes %}
    {% include 'partiels/_card4.html.twig' %}
    {% endfor %}
    </div>
    <a href="{{ path('categorie_index') }}">back to list</a>

    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>


    </div>
{% endblock %}
